.user-form-overlay {
  position: fixed;
  top: 440px;
  left: 0;
  width: 100%;
  height: 100px;
  
 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.user-form {
  padding: 20px 25px;
  border-radius: 16px;
  height: 380px;
  width: 390px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
   background-color: #D9D9D9;
   opacity: 85%;
   margin-left: 10px;
}

.user-form h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #000;
}

.user-form label {
  display: block;
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  color:black;
  margin-top: 5px;
}

.user-form input {
  width: 90%;
  padding: 10px 12px;
  margin-top: 2px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  background-color: #f7f7f7;
  transition: all 0.2s ease;
}

.user-form input:focus {
  border-color: #000;
  background-color: #fff;
}

.submit-btn {
  width: 120px;
  height: 34px;
  border: none;
  border-radius: 16px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.2s ease;
}

.submit-btn:hover {
  background-color: #000;
}

.form-message {
  margin-top: 10px;
  font-size: 13px;
  color: #333;
}
